*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Header */
.main-header{
    background: #FAF6F6;
   height: auto;
   padding-top:6%;
   padding-bottom: 8%;
   
}
.header-title p{
    text-align: justify;
    
}
.header-btn{
    background: #E08E80;
    border-radius: 4px;
    border: none; 
    outline: none;
}
.menu a{
    display: inline-block;
}
.menu a:hover::after{
    content: '';
    width: 100%;
    display: block;
    height: 2px;
    background-color: #E08E80;
    
}

/* Header end */



/* Main */
.offer{
    background: #F4DDDC;
    height:165px;
    margin-bottom: 50px;
    
}

.offer-img{
    position: relative;
}

.offer-img img{
    position: absolute;
    top: -30px;
    left: 100px;
}

.offer-heading h2{
font-weight:400;
}
.birthday-btn{
    background-color: white;
    border: 1px solid #E08E80;
    border-radius: 4px;
    color: #E08E80 ;
    cursor: pointer;
    text-decoration: none;
}
.birthday-btn:hover{
    background-color: #E08E80;
    border-radius: 4px;
    border: none; 
    outline: none;
    color: white;

}
  
.get{
    background: #FAF6F6;
    height: auto;

}
.baking-heading h1::before{
    content: '';
    width: 5px;
    display: inline-block;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    margin-right: 12px;
    margin-top: auto;
    margin-bottom: auto;

}

.all, .get, .baking, .footer{
    margin-top: 100px;
}

/* Main end */


/* Footer */
.footer{
    background: #5A3731;
    height: 173px;
}


/* ..........................................All Categories................................. */
.categories-main{
    background: #FAF6F6;
}
.categories .cate-color{
    color: #E08E80;
}


.img{
    width: 500px;
    height: 350px;
    background-size: cover;
    background-position: center ;
}
.img-1{
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url(images/pic-2.png);
}
.img-2{
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url(images/pic-3.png);
}
.img-3{
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url(images/pic-4.png);
}
.img-4{
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url(images/pic-5.png);
}
.bdy-nav{
    margin-bottom: 90px;
}
.bdy-title{
    margin-left: 300px;
}
.bdy-card{
    color: #E08E80;
}
.cart-details{
    padding: 20px 150px;
}

.cart-span{
    background: #E08E80;
   
}